.nav-ul li a:local-link{
    color: #f68634;
}

.info-grid{
    display: grid;
    height: 30rem;
    width: 75%;
    margin: 2rem auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-bottom: 3rem;
}

.info-grid--text{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #f68634;
    border-radius: 0 1rem 1rem 0;
    > *{
     width: 75%;   
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem; 
    }
    p{
        text-align: left;
        font-size: 1.3rem;
    }
}

.info-grid--img{
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 30%;
    }
}
