.cardV-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

// We rename to cardV because bootstrap steps on our code (cardV= cardVeganico)
.cardV{
    width: 80%;
    display: flex;
    justify-content: center;
    height: 30rem;
    margin-top: 3rem;
    color: white;
    .cardV--img-container{
        width: 30%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .cardV--info{
        width: 70%;
        height: 100%;
        background-color: #f68634;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 3% 3% 0;
        .cardV--info-title{
            height: 30%;
            width: 65%;
            display: flex;
            align-items: center;
            padding-top: 3rem;
            h2{
                font-size: 2.5rem;
                font-weight: 600;
            }
        }
        .cardV--info-description{
            height: 70%;
            width: 65%;
            font-size: 1.2rem;
            box-sizing: content-box;
        }
    }
}

.cardV--img-container-mobile{
    display: none;
}

.cardV--quienesSomos{
    .cardV--img-container{
        background-image: url("../img/brochete.jpg");
    }
}

.cardV--comoEmpezamos{
    .cardV--img-container{
        background-image: url("../img/asado.jpg");
    }
}

@media screen and (max-width: 768px) {
    .cardV{
        color: black;
        .cardV--img-container{
            display: none;
        }
        .cardV--img-container-mobile{
            display: block;
            img{
                width: 100px;
            height: 100px;
            }
        }
        .cardV--info{
            width: 100%;
            background-color: white;
            .cardV--info-title{
                padding: 0;
                width: 100%;
                justify-content: center;
                
                h2{
                    font-size: 2rem;
                    background-color: #01a75b;
                    border-radius: 1rem 1rem 0 0;
                    padding: 5px;
                }
            }
        }
        // width: 80%;
        // display: flex;
        // justify-content: center;
        // height: 30rem;
        margin-top: 1rem;
    }
}