.nav-ul li a:local-link{
    color: #f68634;
}

.info-grid{
    display: grid;
    height: 30rem;
    width: 75%;
    margin: 2rem auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    margin-bottom: 3rem;
}

.info-grid--img{
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 30%;
    }
}

.info-grid--title{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    color: white;
    background-color: #f68634;
    border-radius: 0 1rem 0 0;
    font-weight: 600;
    h2{
        font-weight: 700;
    }
}

.info-grid--text{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #f68634;
    border-radius: 0 0 1rem 0;
    > *{
     width: 75%;   
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem; 
    }
    p{
        text-align: left;
        font-size: 1.3rem;
        margin-bottom: 0;
    }
}



/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
  
  @media screen and (max-width: 768px) {
    
  }
  
  @media screen and (max-width: 480px) {
    
  }


